<!-- The main.html template is responsible of displaying the main page from the project -->

<!DOCTYPE html>
{% load static %}
<html lang="en" style="background-color: black">
<head>
    <meta charset="UTF-8">
    <title>Sealena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5f618b">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#abc4ed">
</head>
    <body>
        <img src="{% static 'main/logo/seal.svg' %}" alt="Sealena's Logo" class="logo">
        <a href="{% url 'main:lobby' %}" class="go-to-app">Go to App <i class="fas fa-door-open go-to-app__icon"></i></a>
        <img src="{% static 'main/backgrounds/mobile-bg.jpg' %}" alt="Doctor using a tablet" class="mobile-bg">
        <img src="{% static 'main/backgrounds/tablet-bg.jpg' %}" alt="Doctor using a tablet" class="tablet-bg">
        <img src="{% static 'main/backgrounds/main-bg.jpg' %}" alt="Doctor using a tablet" class="main-bg">

        <div class="card introduction">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Welcome</p>
                <h2 class="card__title">Sealena</h2>
                <p class="card__body">Sealena, it's Medical Information Management and Collaboration Software created with the purpose of easing the collaboration between health workers, the organization and accessing of information from anywhere</p>
                <div class="introduction__features">
                    <p>Some of the features included in the Premium Version:</p>
                    <ul>
                        <li>Patients and Agenda Management</li>
                        <li>More than 1 assistant linking</li>
                        <li>Unlimited amount of created patients</li>
                        <li>Unlimited amount of appointments</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card management">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Manage all your information</p>
                <h2 class="card__title">Management</h2>
                <p class="card__body">Patiends, Consults, Appointments and even Providers, everything can be managed with Sealena. Our main goal is to provide you a centralized software where you can manage all your information and be able to access it wherever you are.</p>
                <img src="{% static 'main/screenshots/patients.png' %}" alt="Patients Screenshot" class="card__sc double">
                <img src="{% static 'main/screenshots/agenda.png' %}" alt="Agenda Screenshot" class="card__sc double">
            </div>
        </div>

        <div class="card collaboration">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Connect with your colleagues</p>
                <h2 class="card__title">Collaboration</h2>
                <p class="card__body">You can connect and contact all your colleagues who have a Sealena account. Be able to collaborate with them and share ideas with the Sealena's Chat System.</p>
                <img src="{% static 'main/screenshots/user-lookup.png' %}" alt="User's Lookup Screenshot" class="card__sc">
                <img src="{% static 'main/screenshots/chat-system.png' %}" alt="Sealena's Chat System" class="card__sc">
            </div>
        </div>

        <div class="card linking">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Link to your assistants</p>
                <h2 class="card__title">Linking</h2>
                <p class="card__body">You may not want to fill up the appointments by yourself. No problem, with Sealena you can link different assistants to your account through the unique Linking ID and let them create, confirm, update or cancel appointments for you.</p>
                <img src="{% static 'main/screenshots/linking.png' %}" alt="Sealena's linking list" class="card__sc double">
                <img src="{% static 'main/screenshots/linking2.png' %}" alt="Sealena's linking form" class="card__sc double">
            </div>
        </div>

        <div class="card statistics">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Alive Data</p>
                <h2 class="card__title">Statistics</h2>
                <p class="card__body">You want to see how your data is behaving? No problem, we got you covered. Sealena provides you with realtime Statistics based on the data you are managing and the data you desire to take a look at.</p>
               <img src="{% static 'main/screenshots/statistics.png' %}" alt="Sealena's Statistics" class="card__sc double">
               <img src="{% static 'main/screenshots/statistics2.png' %}" alt="Sealena's Statistics" class="card__sc double">
            </div>
        </div>

        <div class="card reaching">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Remind your patients</p>
                <h2 class="card__title">Reaching</h2>
                <p class="card__body">Your patients will never miss an appointment with Sealena's Messaging System. Whenever a consult has been created for the specified patient, a direct message will be sent with the exact date and time of his/her appointment.</p>
                <img src="{% static 'main/screenshots/messaging.png' %}" alt="Sealena's Messaging System" class="card__sc">
            </div>
        </div>

        <div class="card mailing">
            <div class="card__img"></div>
            <div class="card__content">
                <p class="card__flag">Mail your patients and providers directly</p>
                <h2 class="card__title">Mailing</h2>
                <p class="card__body">Have a direct contact with your patients or ask your providers for a specific product, all directly from Sealena. Sealena's mailing system will be responsible to make your emails arrive instantly and securely to your target.</p>
                <img src="{% static 'main/screenshots/mailing.png' %}" alt="Sealena's mailing form" class="card__sc">
            </div>
        </div>

        <script src="{% static 'main/js/main.js' %}"></script>
    </body>
</html>
