<!-- This template contains the structure of the block list which is populated dynamically based on the users a specific
     has blocked and are retrieved from the database. -->

{% if user.profile.block_list.all|length > 0%}
    <div class="data-container">
        <table class="data-table">
            <thead>
                <tr id="heading">
                    <th>Name</th>
                    <th>Username</th>
                    <th>Unblock</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user.profile.block_list.all %}
                    <tr class="data-table__item">
                        <td class="data-table__data">{{ user.first_name }} {{ user.last_name }}</td>
                        <td class="data-table__data">{{ user }}</td>
                        <td class="data-table__data"><i class="fas fa-user-friends data-table__unblock" data-url="{% url 'accounts:manage_block_list' user.pk %}"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p id="no-data">No one has been blocked</p>
{% endif %}
