<!-- This change_password_done template displays a success message whenever a password has been updated successfully. -->

<!-- Change Password success message -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Password Changed{% endblock %}
{% block return %}{% endblock %}{% block home %}{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'accounts/css/change_password_done.css' %}">
    <div>
        <p>Password change satisfied.</p>
        <p id="redirection"></p>
    </div>
<script src="{% static 'accounts/js/change_password_done.js' %}"></script>
{%endblock%}