<!-- This change_password template contains the form used to update the password of a specific account  -->

{% block body_block %}
<!-- Change Password Form -->
<form action="{% url 'accounts:change_password' %}" method="POST" class="password-form">
    {% csrf_token %}
    <h2>Update Password</h2>
    <p>Current Password</p>
    <p>{{form.old_password}}</p>
    <p>New Password</p>
    <p>{{ form.new_password1 }}</p>
    <p>Password Confirmation</p>
    <p>{{ form.new_password2 }}</p>
    {% for error in form.old_password.errors %}
        <p class="error"><small>{{ error }}</small></p>
    {% endfor %}
    {% for error in form.new_password2.errors %}
        <p class="error"><small>{{ error }}</small></p>
    {% endfor %}
    <button type="submit">Update</button>
</form>
{% endblock %}