<!-- Profile Partial Template -->
{% load static %}

<!-- Profile Picture -->
<div class="card__picture-container">
    {% if profile.user == user %}
        <i class="fas fa-camera card__picture-edit-button" data-url="{% url 'accounts:profile_picture_change' %}"></i>
    {% endif %}
    {% if profile.profile_pic %}
        <img class="card__picture" src="{{ MEDIA_URL }}{{ profile.profile_pic }}" alt="">
    {% else %}
        <p class="card__no-picture-message">No profile picture available</p>
        <i class="fas fa-camera card__no-picture-icon" ></i>
    {% endif %}
</div>

<!-- User's Status -->
<div class="card__status">
    <span>
    {% if profile.availability == 'A' %}
        <i id="available" class="fas fa-circle"></i>
    {% else %}
        <i id="busy" class="fas fa-circle"></i>
    {% endif %}
    {{ profile.get_availability_display }}
    </span>
</div>

<!-- Profile Card -->
<div class="card">

    <!-- Add Contact or Edit Profile Button -->
    {% if user.profile == profile %}
        <i class="fas fa-edit card__edit-button" data-url="{% url 'accounts:profile_change' %}" data-type="profile"></i>
    {% else %}
        <i class="fas fa-ban card__block-contact" data-url="{% url 'accounts:manage_block_list' profile.user.pk %}"></i>
        {% if profile.user in user.profile.contacts.all %}
            <i class="fas fa-trash card__delete-contact" data-url="{% url 'accounts:remove_contact' profile.user.pk %}"></i>
        {% else %}
            {% if pending_request %}
                <i class="fas fa-user-slash card__cancel-request" data-url="{% url 'accounts:send_cancel_contact_request' profile.user.pk %}" data-procedure="cancel"></i>
            {% else %}
                <i class="fas fa-user-plus card__send-request" data-url="{% url 'accounts:send_cancel_contact_request' profile.user.pk %}" data-procedure="send"></i>
            {% endif %}
        {% endif %}
    {% endif %}

    <!-- User's Information -->
    <div class="card__information">
        <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
        <p id="username"><i class="fas fa-user-tie"></i> @{{ profile.user }}</p>
        <p><i class="fas fa-map-pin"></i> {{ profile.get_origin_display }}</p>
        <p><i class="fas fa-stethoscope"></i> {{ profile.user.doctor.get_speciality_display }}</p>
        <p><i class="fas fa-clock"></i> Member Since - {{ profile.user.date_joined|date }}</p>
        <h2>Contacts | {{ profile.contacts.all | length }}</h2>
    </div>

    <!-- User's Bio -->
    <div class="card__biography">
        <h3>About</h3>
        <p>{{ profile.bio }}</p>
    </div>

    <!-- User's Last Active -->
    {% if profile.user != user %}
        <small class="card__activity">Last Active: {{ profile.user.last_login }}</small>
    {% endif %}


</div>

<!-- User's Edit Profile Form -->
<div class="user-details-form-container">
    <form action="{% url 'accounts:profile_change' %}" method="POST" class="user-details-form-container__form" autocomplete="off">
        {% csrf_token %}
        <div class="user-details-form-container__form-wrapper">
            <div class="user-details-form-container__biography">
                {% if form.errors %}
                    {% for error in form.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <p>Biography</p>
                <p>{{ form.bio }}</p>
                <button type="submit">Update</button>
            </div>

            <div class="user-details-form-container__personal-information">
                <div class="user-details-form-container__personal-information-edit">
                    <div>
                        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Contact: {{ form.phone_number }}</p>
                        <p>Gender: {{ form.gender }}</p>
                        <p>Origin: {{ form.origin }}</p>
                    </div>
                    <div>
                        <p>Birth Date</p>
                        <p>{{ form.birth_date }}</p>
                    </div>
                </div>
                <div>
                    <h4>Addressing</h4>
                    <hr>
                    <p>Location</p>
                    <p>{{ form.location }}</p>
                    <p>Address </p>
                    <p>{{ form.address }}</p>
                </div>
            </div>
        </div>
    </form>
</div>
