<!-- This password reset confirm template display the reset password form, if the link is valid the form will be displayed,
     otherwise an error message will be displayed. -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5f618b">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#abc4ed">
</head>
<body>
    <img src="{% static 'accounts/logo/seal.svg' %}" alt="Sealena Logo" class="logo">
    <img src="{% static 'accounts/backgrounds/email_verification_bg.jpg' %}" alt="Email Verification Background" class="password-reset-bg">

    {% if validlink %}
        <!-- Password reset form -->
        <form method="POST" class="password-reset-confirm-form">
            <h2>Change Password</h2>
            {% csrf_token %}
            <p>New Password</p>
            <p>{{ form.new_password1 }}</p>
            <p>Confirmation</p>
            <p>{{ form.new_password2 }}</p>
            <button type="submit" class="password-reset-confirm-form__submit-button submit-button">Reset</button>
            {% if form.errors %}
                {% if form.new_password1.errors %}
                    <p class="password-reset-confirm-form__errors"><small>{{ form.new_password1.errors.as_text }}</small></p>
                {% endif %}
                {% if form.new_password2.errors %}
                    <p class="password-reset-confirm-form__errors"><small>{{ form.new_password2.errors.as_text }}</small></p>
                {% endif %}
            {% endif %}
        </form>
    {% else %}
        <div class="invalid-link-container">
            <!-- Invalid Link Message -->
            <p>The link was invalid, request a new password reset email from Sealena's Login page please. Feel free to close this window.</p>
        </div>
    {% endif %}

    <script src="{%static 'accounts/js/password-reset-confirm.js'%}"></script>
</body>
</html>

