<!-- This password reset complete template is used to display a success message whenever a password has been reset successfully. -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_complete.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5f618b">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#abc4ed">
</head>
<body>
    <img src="{% static 'accounts/logo/seal.svg' %}" alt="Sealena Logo" class="logo">
    <img src="{% static 'accounts/backgrounds/email_verification_bg.jpg' %}" alt="Email Verification Background" class="password-reset-bg">

    <div class="password-reset-success-container">
        <p class="password-reset-success-container__message">
            You are all set. Your password has been reset successfully... Please feel free to close this window.
        </p>
    </div>

</body>
</html>
