<!-- The password_reset_done template is used to display a message whenever the reset password link has been sent to the link provided. -->

{% load static %}
<!-- Password reset mail sent successfully message -->
<div class="password-reset-done">
    <p>
      We've just sent and email to your address, please check and follow the steps to reset your password correctly.
    </p>
    <p>
        If you need any assistance in your password resetting, please contact us: <a href="mailto: sealena-support@sealena.com">sealena-support@sealena.com</a>
<!--      If you haven't received any email follow this <a href="{% url 'accounts:password_reset' %}" class="password-reset-done__link">link</a> and request a new password reset.-->
    </p>
    <p class="password-reset-done__continue-button" data-url="{% url 'accounts:login' %}"><i class="fas fa-arrow-circle-right password-reset-done__icon"></i> Continue</p>
 </div>