<!-- This password_reset template is used to collect the email to which the password reset link should be sent to. It displays
     the password_reset form. -->

{% load static %}
<!-- Send Email for Password Reset Form -->
<form method="POST" autocomplete="off" action="{% url 'accounts:password_reset' %}" class="password-reset-form">
    <h1>Password Reset</h1>
    {% csrf_token %}
    <p>{{ form.email.label }}</p>
    <p>{{ form.email }}</p>
    <button type="submit" class="password-reset-form__submit-button">Send Email</button>
    <p>The email must match the one registered in your account.</p>
</form>