<!-- This subscription_change_response template is used to display a success message based on what type of operation is been
     executed by the user. -->

<div class="{{ subscription }}-response">
{% if subscription == 'Premium' %}
    <h2>Activation Successful</h2>
    <h3>You're all set</h3>
    <p>We're so glad to hear that you went Premium</p>
    <p>Remember we're here for you, if you encounter any problems within the app or any suggestions<br>
       please notify them by opening a Ticket in General Settings (Settings > General > Ticket)</p>
{% else %}
    <h2>Deactivation Successful</h2>
    <h3>You're all set</h3>
    <p>We're so sorry to hear that you're leaving</p>
    <p>Please consider providing us some backup in order to improve the application<br>
       by opening a Ticket in General Settings (Settings > General > Ticket)</p>
{% endif %}
</div>
