<!-- Home template used to display the main menu page -->

<!--Checked-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body_block %}
{% block return %}{% endblock %}{% block home %}{% endblock %}{% block navigation %}{% endblock %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

<!-- Audio file to be played on tile hover -->
<audio src="{% static 'home/js/sound-effect.mp3' %}" data-status="{{ user.general_settings.sfx }}"></audio>

<!-- Container -->
<div class="main-menu">

    {% if user.roll == 'DOCTOR' %}

        <!-- Title -->
        <h1 class="main-menu__title">Menu</h1>

        <!-- Search Bar -->
        <input type="text" autocomplete="off" class="main-menu__search-bar" data-url="{% url 'accounts:user_lookup' %}"><i class="fas fa-search main-menu__search-bar-icon" ></i>

        <!-- Top Wrapper -->
        <div class="main-menu__upper-row">

            <div class="main-menu__tile" onclick="window.location='{% url 'patients:patients' %}'">
                <i class="fas fa-user-injured main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Patients</h3>
            </div>

            <div class="main-menu__tile" onclick="window.location='{% url 'appointments:appointments' %}'">
                <i class="far fa-calendar-check main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Appointments</h3>
            </div>

            <div class="main-menu__tile" onclick="window.location='{% url 'records:records' %}'">
                <i class="far fa-clipboard main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Records</h3>
            </div>

            <div class="main-menu__tile" onclick="window.location='{% url 'stats:stats' %}'">
                <i class="fas fa-chart-bar main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Statistics</h3>
            </div>

        </div>

        <!-- Bottom Wrapper -->
        <div class="main-menu__lower-row">

            <div class="main-menu__tile" onclick="window.location='{% url 'providers:providers' %}'">
                <i class="fas fa-handshake main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Providers</h3>
            </div>

            <div class="main-menu__tile" onclick="window.location='{% url 'settings:settings' %}'">
                <i class="fas fa-cog main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Settings</h3>
            </div>

            <div class="main-menu__tile" onclick="window.location='{% url 'accounts:profile' %}'">
                <i class="fas fa-user main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Profile</h3>
            </div>

            <div id="logout" class="main-menu__tile">
                <i class="fas fa-sign-out-alt main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Log Out</h3>
            </div>

        </div>

        <!-- Query Results -->
        <div class="data-table__query-results">

        </div>

    {% endif %}

    {% if user.roll == 'ASSISTANT' %}

        <!-- Title -->
        <h1 class="main-menu__single-row-title">Menu</h1>

        <div class="main-menu__single-row">

            {% if user.assistant.doctors.all %}
                <div class="main-menu__tile" onclick="window.location='{% url 'patients:patients' %}'">
                    <i class="fas fa-user-injured main-menu__tile-icon"></i>
                    <h3 class="main-menu__tile-title">Patients</h3>
                </div>

                <div class="main-menu__tile" onclick="window.location='{% url 'appointments:appointments' %}'">
                    <i class="far fa-calendar-check main-menu__tile-icon"></i>
                    <h3 class="main-menu__tile-title">Appointments</h3>
                </div>
            {% endif %}

            <div class="main-menu__tile" onclick="window.location='{% url 'settings:settings' %}'">
                <i class="fas fa-cog main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Settings</h3>
            </div>

            <div class="main-menu__tile" id="logout">
                <i class="fas fa-sign-out-alt main-menu__tile-icon"></i>
                <h3 class="main-menu__tile-title">Log Out</h3>
            </div>

        </div>

        <!-- Message to be displayed if the assistant is not linked to any doctor users -->
        {% if not user.assistant.doctors.all %}
            <p class="main-menu__advice">
                Your 'Patient' and 'Consult' widgets will appear once you're linked to a Doctor User <br>
                Please follow this path to link to a Doctor by providing the corresponding Linking ID <br>
                (Settings > Linking > Add Linking)
            </p>
        {% endif %}

    {% endif %}

</div>

<!-- Log Out Modal -->
<div class="modal">

    <div class="modal__modal-content">
        <h3>Are you sure you want to log out?</h3><div class="modal__logout-loader"></div>
        <button type="button" onclick="window.location='{% url 'accounts:logout' %}'">Yes</button>
        <button type="button">No</button>
    </div>

</div>

<!-- Message to be displayed if users are not verified -->
{% if not user.confirmed %}
    <p class="confirmed_status"><i class="fas fa-exclamation-triangle"></i> Identity unverified, please check your email in order to get verified</p>
{% endif %}

<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}