html, body{
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.mobile-bg, .tablet-bg, .main-bg{
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.navbar{
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.navbar__logo{
    filter: brightness(150%);
    height: 50px;
    width: 50px;
    float: left;
    transition: 0.5s;
}

.navbar__go-to-app{
    float: right;
    color: #FFFFFF;
    transition: 0.5s;
}

.navbar__go-to-app--active{
    font-size: 18px;
    transition: 0.5s;
}

.navbar__content{
    text-align: center;
    height: 50px;
}

.navbar__content div{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10vw;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar-section--active{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5;s
}

.logo{
    filter: brightness(150%);
    position: absolute;
    top: 0px;
    left: 5px;
}

a:visited{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: none;
}

.go-to-app{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

@media screen and (max-width: 1023px){
    .mobile-bg{
        display: inline;
        visibility: visible;
    }

    .navbar{
        display: none;
    }

    .logo{
        height: 50px;
        width: 50px;
    }

    a:visited{
        color: #333333;
    }

    a:focus{
        color: #333333;
    }

    a:hover, a:active{
        color: #333333;
    }

    .go-to-app{
        color: #333333;
    }

    .navbar{
        display: none;
    }

    .card{
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        backdrop-filter: blur(10px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        transition: opacity 0.5s
    }

    .card__sc{
        width: 50vh
    }

    .introduction{
        position: absolute;
        text-align: center;
        bottom: 0%;
    }

    .introduction__features{
        display: none;
    }

    .card:not(.introduction){
        position: relative;
        top: 100vh;
    }

    .card--display{
        opacity: 1;
        transition: opacity 0.5s
    }

    .card__flag{
        text-align: left;
        font-weight: 800;
        color: #ffa33b;
    }

    .card__title{
        text-align: left;
    }

    .card__body{
        text-align: justify;
    }

    .card__content{
        transform: scale(0);
        transition: 0.5s;
    }

    .card__content--display{
        transform: scale(1);
        transition: 0.5s;
    }

    .card__sc{
        height: 25%;
        width: 100%;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.1);
        transition: 0.5s;
    }

    .card__sc--unfilter{
        filter: none;
        -webkit-filter: none;
        transition: 1s;
    }

    hr{
        border: none;
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    body{
        font-size: 24px;
    }

    .mobile-bg{
        display: none;
        visibility: hidden;
    }

    .tablet-bg{
        display: inline;
        visibility: visible;
    }

    .logo{
        height: 80px;
        width: 80px;
    }

    a:visited{
        color: #FFFFFF;
    }

    a:focus{
        color: #FFFFFF;
    }

    a:hover, a:active{
        color: #FFFFFF;
    }

    .go-to-app, .go-to-app__icon{
        color: #FFFFFF;
        font-size: 32px;
    }

    .navbar{
        display: none;
    }

    .card{
        padding: 20px;
    }

    .card__sc.double{
        width: 49%;
    }
}

@media screen and (min-width: 1024px){

    body{
        height: 200vh;
    }

    .main-bg{
        display: inline;
        visibility: visible;
        filter: brightness(90%);
    }

    .navbar--display{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s;
    }

    .navbar__go-to-app, .navbar__go-to-app__icon{
        color: #FFFFFF;
    }

    .navbar__go-to-app a:visited{
        color: #FFFFFF;
    }

     .navbar__go-to-app a:focus{
        color: #FFFFFF;
    }

     .navbar__go-to-app a:hover, a:active{
        color: #FFFFFF;
    }

    .logo{
        position: absolute;
        top: 10px;
        left: 25px;
        height: 100px;
        width: 100px;
    }

    a{
        text-decoration: none;
    }

    a:visited{
        color: #333333;
    }

    a:focus{
        color: #333333;
    }

    a:hover, a:active{
        color: #333333;
    }

    .go-to-app, .go-to-app__icon{
        color: #333333;
        font-size: 24px;
        transition: 0.5s;
    }

    .go-to-app{
        position: absolute;
        top: 30px;
        right: 25px;
    }

    .go-to-app--active, .go-to-app--active .go-to-app__icon{
        font-size: 25px;
        color: #525252;
        transition: 0.5s;
    }

    .card{
        display: none;
    }
}
