/* This base.css file contains all the styles needed to present the base.html template, this file also contains the guide
   of the colors used in each element aroung the whole application, as well as the title size used in each element.*/
/*

    Global Classes and ID's


    Global Styles
    ------------------
    ------------------
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;


    New Colors Listing
    ------------------
    ------------------
    #FFFFFF;
    #000000;
    #EAC234;
    #00E083;
    #95B6C6;
    #D73533;
    #12212b;
    #CBA415;
    #25BB41;
    #359E23;
    #9E2323;

    Effects Used
    ----------------
    GlassMorphism


    Authentication Buttons
    ----------------------
    cursor: pointer;
    border: none;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    font-size: 16px;
    height: 50px;
    width: 120px;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s;


    Authentication Submit Buttons
    ----------------------
    cursor: pointer;
    margin-top: 5%;
    width: 100px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;


    Forms
    ------------------
    text-align: center;
    border-radius: 25px
    background-color: rgba(255,255,255,0.1)
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    background-clip: padding-box;
    animation: show-up 2s linear forwards;
    z-index: 1


    Table
    --------------------
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;

    tr:nth-child(odd)
        background-color: rgba(255,255,255,0.1);


    tr:nth-child(even)
        background-color: rgba(255,255,255,0.2);


    Inputs
    --------------------
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-bottom: 1px solid #FFFFFF;

    Textarea
    ------------------
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 5px;
    resize: none;
    transition: 0.5s;

    Selects
    --------------------
    text-align-last: center;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;

    Modals
    ---------------------
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;

 */

/*////////////////////////////////////////////////////// Body ////////////////////////////////////////////////////////*/

body{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    overflow: hidden;
    user-select: none;
}

#background{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.fa-long-arrow-alt-left{
    font-size: 25px;
    margin-top: 1%;
    margin-left: 1%;
    transition: 0.5s;
}

.fa-long-arrow-alt-left:hover{
    color: #00CCFF;
    transition: 0.5s;
}

/*////////////////////////////////////////////////////// Titles //////////////////////////////////////////////////////*/

h1,h2,h3,h4,h5,h6{
    color: #FFFFFF;
}

.title{
    margin-top: 0.5%;
    margin-left: 5px;
}

/*////////////////////////////////////////////////////// Form ////////////////////////////////////////////////////////*/

form{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    text-align: center;
}

.creation-update-form{
    width: 25%;
}

.deletion-form{
    width: 35%;
}

.obligatory{
    color: #f54242;
}

input{
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    width: 60%;
    transition: width 0.5s;
}

.input-active{
  width: 75%;
  transition: width 0.5s;
}

input:focus{
    outline: none;
}

textarea{
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 5px;
  resize: none;
  transition: 0.5s;
}

textarea:focus{
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}

select{
  font-family: 'Nunito', sans-serif;
  text-align-last: center;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

.form__create--active{
    cursor: pointer;
    color: #25BB41;
    transition: 0.5s;
}

.form__delete--active{
    cursor: pointer;
    color: #A31621;
    transition: 0.5s;
}
/*////////////////////////////////////////////////////// Data ////////////////////////////////////////////////////////*/

#heading{
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.3);
    line-height: 45px;
    cursor: default;
}

.data{
    display: grid;
    grid-template-columns: 80% 18%;
    grid-gap: 1%;
}

.data-container{
    max-height: 769px;
    overflow-y: auto;
    animation: show-up 0.5s linear;
}

.data-table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
}

.data-table__item{
    line-height: 18px;
    max-line-height: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.data-table__data{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table__item:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

.data-table__item:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

.data-table__create{
    cursor: pointer;
    padding: 5px 10px 5px 5px;
    transition: 0.5s;
}

.data-table__create--active{
    color: #25BB41;
    transition: 0.5s;
}

.data-table__update--active{
    color: #CBA415;
    cursor: pointer;
    transition: 0.5s;
}

.data-table__delete--active{
    color: #A31621;
    cursor: pointer;
    transition: 0.5s;
}

.data-table__confirm--active{
    color: #25BB41;
    transition: 0.5s;
}

.data-table__cancel--active{
    color: #D73533;
    transition: 0.5s;
}

.filter-container__filter-display-button{
    float: left;
    transition: 0.5s;
}

.filter-container__filter-display-button--active{
    cursor: pointer;
    color: #00CCFF;
    transition: 0.5s;
}

.filter-container__filter-form{
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transform: translateY(-200%);
    transition: transform 0.5s;
}

.filter-container__filter-form button{
    width: 25%;
}

.filter-container__filter-form--display{
    transform: translateY(8%);
    transition: transform 0.5s ease-out;
}

.error{
    color: #FFFFFF;
}

#no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.add-data{
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    transition: top 0.5s;
}

.add-data--active{
    cursor: pointer;
    color: #25BB41;
    transition: 0.5s;
}

/*///////////////////////////////////////////////// Notifications Popup //////////////////////////////////////////////*/

.notifications-popup{
    display: inline-block;
    position: absolute;
    top: -10%;
    right: 5%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    border-radius: 5px;
    padding: 10px;
    transition: top 0.5s;
}

.notification-popup--display{
    top: 5%;
    transition: top 0.5s;
}

/*////////////////////////////////////////////////////// Status //////////////////////////////////////////////////////*/

#Open{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

#Confirmed{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

#Cancelled{
    background-color: #95B6C6;
    color: #12212b;
    height: 100%;
}

#Closed{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

.Open{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

.Confirmed{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

.Cancelled{
    background-color: #95B6C6;
    color: #12212b;
    height: 100%;
}

.Closed{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

#pending{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

#attended{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

.attended{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

.not-attended{
    background-color: #D73533;
    color: #000000 !important;
}

#never_attended{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

#status-0{
    background-color: #EAC234;
    color: #000000;
}

#status-1{
    background-color: #00E083;
    color: #000000;
    height: 100%;
}

/*////////////////////////////////////////////////////// Buttons //////////////////////////////////////////////////////*/

button{
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    width: 20%;
    height: 27px;
    z-index: 1;
    transition: 0.5s;
}

button:focus{
    outline: none;
}

.button--active{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

/*///////////////////////////////////////////////// ScrollBar ////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/*//////////////////////////////////////////////// Controllers ///////////////////////////////////////////////////////*/

.fa-angle-left{
    cursor: pointer;
    transition: 0.5s;
    float: left;
}

.fa-angle-right{
    cursor: pointer;
    transition: 0.5s;
    float: right;
}

.fa-angle-hover{
    color: #00CCFF;
    transition: 0.5s;
}

.fa-envelope-hover{
    color: #00CCFF;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/*///////////////////////////////////////////////////// BASE CSS /////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////// Global Navigator ////////////////////////////////////////////////*/

.navigator-display-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: -25px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: 0.5s;
}

.navigator-display-button__arrow{
    margin-left: 30px;
}

.global-navigator{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    text-align: justify;
    position: absolute;
    margin-left: -25%;
    height: 100%;
    width: 10%;
    top: 0;
    left:0;
    z-index: 2;
    display: block;
    transition: all 0.5s;
}

.global-navigator--display{
    margin-left: 0%;
    transition: margin-left 0.5s;
}

.global-navigator__tab{
    width: 100%;
    height: 12%;
    margin-top: 0px;
    vertical-align: top;
    text-align: justify;
    transition: 0.5s;
}

.global-navigator__tab--active{
    background-color: #FFFFFF;
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
}

.global-navigator__icon{
    padding: 10px;
    font-size: 25px;
    float: left;
    margin-left: 34%;
    margin-top: 18%;
}

.global-navigator__watermark{
    font-size: 10px;
    margin-left: 33%;
}

/*//////////////////////////////////////////////////// Social Content ////////////////////////////////////////////////*/

.social-section-display-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 45%;
    right: -25px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: 0.5s;
}

.social-section-display-button__arrow{
    margin-left: 10px;
}

.social-section{
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin-right: -30%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    z-index: 2;
    transition: 0.5s;
}

.social-section--display{
    margin-right: 0%;
    transition: margin-right 0.5s;
}

.social-section__tab{
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    width: 33.3%;
    text-align: center;
    padding: 10px 0px;
    transition: 0.5s;
}

.social-section__tab--active{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.social-section__tab--active-hover{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

#no-content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.social-section__cell{
    display: grid;
    grid-template-columns: 20% 50% 15% 15%;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.social-section__profile-picture{
    margin-top: 8%;
    margin-left: 20%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-section__cell:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

.social-section__cell:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

.social-section__contact-identification{
    margin-top: 10%;
    margin-left: 20%;
}

.social-section__accept-contact-request, .social-section__deny-contact-request{
    font-size: 20px;
    margin-top: 30%;
    margin-left: 35%;
}

.social-section__accept-contact-request--active{
    color: #25BB41;
    cursor: pointer;
    transition: 0.5s;
}

.social-section__deny-contact-request--active{
    color: #A31621;
    cursor: pointer;
    transition: 0.5s;
}

.chat-identification{
    display: inline;
    margin-left: 15px;
}

.social-section form{
    background-color: rgba(0,0,0,0);
    backdrop-filter: none;
    background-clip: none;
    float: left;
}

.social-section__chat-loader:first-child{
    border: 2px solid rgba(0,0,0,0);
    border-top: 2px solid #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 42%;
    left: 45%;
    animation: spin 1s linear infinite;
}

.social-section__chat-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.social-section__chat-loader--fade-out{
    display: none;
}

.social-section__chat-destination-profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    top: 7%;
}

.social-section__destination-user{
    position: absolute;
    top: 6%;
    left: 15.5%;
}

.social-section__chat-content{
    margin-top: 20%;
    width: 94%;
    height: 670px;
    max-height: 670px;
    overflow-y: auto;
    padding: 10px;
}

.social-section__reply{
    position: relative;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    clear: both;
    float: left;
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
    text-justify: justify;
    max-width: 60%;
}

.social-section__message{
    position: relative;
    display: inline;
    clear: both;
    float: right;
    margin-right: 5%;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
    text-justify: justify;
    max-width: 60%;
    background-color: rgba(255,255,255,0.1);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

#id_text{
    margin-left: 10px;
}

.social_section__send-message-button{
    cursor: pointer;
    position: absolute;
    right: 8%;
    bottom: 5%;
    font-size: 22px;
    transition: 0.5s;
}

.social-section__send-message-button--active{
    color: #00CCFF;
    transition: 0.5s;
}

/*///////////////////////////////////////////// Navigator display buttons  ///////////////////////////////////////////*/

.display-navigator-button--active{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

/*/////////////////////////////////////////////////////// Modal //////////////////////////////////////////////////////*/

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255,255,255,0.1); */
    backdrop-filter: blur(20px);
    background-clip: padding-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.modal__form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
}

.modal--display{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}
/*////////////////////////////////////////////////// Global Loader ///////////////////////////////////////////////////*/

.global-loader-modal{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
}

.global-loader-modal--display{
    display: block;
}

.global-loader-modal__spinner{
    position: absolute;
    top: 33%;
    left: 44.2%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
    border-top: 2px solid #FFFFFF;
    animation: spin 1s linear infinite;
}

.global-loader-modal__heart-icon{
    font-size: 32px;
    position: absolute;
    top: 40%;
    left: 48.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: beat 1s infinite alternate;
}

.global-loader-modal__message{
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: glow 1s linear infinite;
}

/*//////////////////////////////////////////////////// Animations ////////////////////////////////////////////////////*/

@keyframes show-up{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes glow{
    0% {opacity: 0;}
    10% {opacity: 0.20;}
    20% {opacity: 0.40;}
    30% {opacity: 0.60;}
    40% {opacity: 0.80;}
    50% {opacity: 1;}
    60% {opacity: 0.80;}
    70% {opacity: 0.60;}
    80% {opacity: 0.40;}
    90% {opacity: 0.20;}
    100% {opacity: 0;}
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes beat {
  0% {transform: scale(1);}
  25% {transform: scale(1.2);}
  40% {transform: scale(1);}
  60% {transform: scale(1.2);}
  100% {transform: scale(1);}
}