<!-- This email_form template displays the form used to send emails -->

{% load static %}
{% if form %}
    <form method="POST" action="{% url 'patients:send_email' receiver.pk %}" id="email-form" autocomplete="off">
        {% csrf_token %}
        <div class="loader"></div>
        <h2>Send Email</h2>
        <p>Date: {{ today }}</p>
        <p>To: {{ receiver.email }}</p>
        <p>From: {{ user.email }}</p>
        <hr>
        <p>{{ form.subject.label }}</p>
        <p>{{ form.subject }}</p >
        <p>{{ form.body.label }}</p>
        <p>{{ form.body }}</p>
        <button type="submit">Send Email</button>
    </form>
{% else %}
    <div class="server-response">
        {% if success %}
            <p>{{ success }}</p>
            <button type="button">Continue</button>
        {% else %}
            <p>{{ error }}</p>
            <button type="button">Continue</button><a href="{% url 'settings:settings' %}"><button type="">Settings</button></a>
        {% endif %}
    </div>
{% endif %}
