<!-- This patient_vaccines_partial_list template is used to display patient vaccines, this template will be populated dynamically
     based on the patient vaccines -->

{% load static %}
{% for vaccine in vaccines %}
    <tr class="data-table__item vaccine-details" data-url="{% url 'appointments:vaccination_record_details' vaccine.pk %}">
        <td class="data-table__data">{{ vaccine.vaccine_applied.name }}</td>
        <td class="data-table__data">
            {% if vaccine.vaccine_applied.scientific_name is not None %}
                {{ vaccine.vaccine_applied.scientific_name }}
            {% else %}
                -------------
            {% endif %}
        </td>
        <td class="data-table__data">{{ vaccine.datetime }}</td>
        <td class="data-table__data"><i class="fas fa-edit data-table__update" data-url="{% url 'appointments:update_vaccination_record' vaccine.pk patient.pk %}"></i></td>
        <td class="data-table__data"><i class="fas fa-trash data-table__delete" data-url="{% url 'appointments:delete_vaccination_record' vaccine.pk patient.pk %}"></i></td>
        <td class="data-table__data"></td>
    </tr>
{% endfor %}