/* This registers.css stylesheet contains all the styles needed to display the registers template properly */

/*########################################################## Title and Info #################################################*/

h2, #item-count{
    margin-left: 1%;
}

.data-container{
    max-height: 617px;
}

.filter-container__filter-form--display{
    transform: translateY(5.5%);
}

.filter-container__filter-form button{
    width: 25%;
}