/* This update_consult.css stylesheet contains all the styles needed to display the update consult template properly */

/*#################################################### Main Form ########################################################*/
.consult-form{
    background-color: rgba(0,0,0,0);
    backdrop-filter: none;
}

/*#################################################### Popups ########################################################*/

.popup{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.popup--display{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.consult-lock-popup{
    top: 34%;
    left: 31%;
    z-index: 1;
    padding: 5px;
    text-align: justify;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    z-index: 1;
}

.consult-lock-popup__popup-text:after{
    content: "";
    position: absolute;
    top: 35%;
    right: 100%;
    border-style: solid;
    border-width: 8px;
    border-color: transparent rgba(255,255,255,0.1) transparent transparent;
}

.patient-information-popup{
    display: grid;
    grid-template-columns: 40% 59%;
    grid-gap: 1%;
    padding: 10px;
    top: 8.8%;
    left: 5.3%;
    width: 40%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    z-index: 1;
}

.patient-information-popup__popup-text:after{
    content: '';
    position: absolute;
    border: 5px solid;
    right: 100%;
    top: 18%;
    border-color: transparent rgba(255,255,255,0.1) transparent transparent;
}

.consult-lock-popup__popup-text, .patient-information-popup__popup-text{
    font-size: 10px;
    color: #FFFFFF;
}

/*################################################## Container #######################################################*/

.consult__container{
    display: grid;
    grid-template-columns: 30% 70%;
}

/*#################################################### Lock Btn ######################################################*/

.consult__lock-container{
    position: absolute;
    width: 55px;
    height: 35px;
    top: 34%;
    left: 25.5%;
    font-size: 12px;
    z-index: 1;
}

.consult__lock-icon{
    margin-left: 40%;
}

.consult__lock{
    width: 30px;
    height: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 69%;
    padding: 2px;
    transform: translate(-50%, 0%);
    background-color: #D73533;
    cursor: pointer;
    transition: 0.5s;
}

.lock-active{
    background-color: #00E083;
    transition: 0.5s;
}

.consult__lock-switch{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.lock-active .consult__lock-switch{
    margin-left: 20px;
    transition: 0.5s;
}

/*#################################################### General #######################################################*/

.consult__records-icon{
    font-size: 23px;
    position: absolute;
    top: 2%;
    left: 27.5%;
    margin-right: 1%;
    transition: 0.5s;
    z-index: 1;
}

.consult__examination-icon{
    font-size: 25px;
    position: absolute;
    top: 7%;
    left: 27.4%;
    margin-right: 1%;
    transition: 0.5s;
    z-index: 1;
}

.consult__vaccination-icon{
    font-size: 25px;
    position: absolute;
    top: 12.3%;
    left: 27.3%;
    margin-right: 1%;
    transition: 0.5s;
    z-index: 1;
}

.consult__icon--active{
  cursor: pointer;
  color: #00CCFF;
  transition: 0.5s;
}

.consult__general-information{
    height: 100vh;
    padding: 10px;
    text-align: justify;
    border-right: 1px solid #FFFFFF;
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

.consult__general-information-title{
    text-decoration: underline;
}

.consult__patient-identification{
    cursor: default;
    display: inline;
}

.consult__motive, .consult__suffering{
    padding: 5px;
    max-height: 9%;
    overflow: auto;
}

.error{
    color: #FFFFFF;
}

#charge-label{
    text-decoration: none;
    text-align: center;
    margin: 0px;
}

#id_charge{
    margin-left: 30%;
    height: 20px;
    width: 40%;
    border-radius: 0px;
}

#id_charge::-webkit-input-placeholder {
  color: #FFFFFF;
}

.consult__general-information button{
    margin-left: 40%;
}

/*#################################################### Diagnose ######################################################*/

.consult__diagnose{
    display: grid;
    grid-template-columns: 99% 99% 99% 99% 99%;
    grid-gap: 1%;
    height: 100vh;
    max-width: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

.consult__diagnose-data{
    text-align: center;
    margin-top: 10%;
    padding: 20px;
}

.consult__physical-exploration-title{
    margin-top: 7%;
}

.consult__diagnose-data > p{
    margin: 3%;
}

.fa-angle-left, .fa-angle-right{
    font-size: 35px;
    position: fixed;
    top: 45%;
    z-index: 1;
    transition: 0.5s;
}

.fa-angle-left{
    left: 33%;
}

.fa-angle-right{
    left: 97%;
}

#id_medical_exams{
    display: none;
}

#drugs{
    max-height: 150px;
    height: 120px;
    width: 40%;
    border: 1px solid #FFFFFF;
    text-align: left;
    overflow: auto;
    margin: auto;
}

.consult__diagnose input[type=checkbox]{
    width: 15px;
    height: 15px;
}

#drugs input{
    float: left;
}

#drugs ul{
    list-style: none;
}

.consult__add-drug{
    cursor: pointer;
    padding-left: 10px;
    transition: 0.5;
}

#medical-tests{
    max-height: 150px;
    height: 120px;
    width: 40%;
    border: 1px solid #FFFFFF;
    text-align: left;
    overflow: auto;
    margin: auto;
}

#medical-tests input{
    float: left;
}

#medical-tests ul{
    list-style: none;
}

.consult__add-test{
    cursor: pointer;
    padding-left: 10px;
    transition: 0.5;
}

.consult__add-item--active{
    color: #25BB41;
    transition: 0.5s;
}

.consult__diagnose input[type=number], .consult__diagnose input[type=text]{
  height: 30px;
  width:40%;
  transition: 0.5s;
}

.consult__diagnose input[type=number]:focus{
    outline: none;
}

.consult__diagnose textarea{
  transition: 0.5s;
  width: 60%;
  float: right;
  resize: none;
}

.consult__diagnose select{
  height: 30px;
  width:20%;
  margin: 5px;
  transition: 0.5s;
}

.consult__navigation{
    list-style: none;
    width: 10%;
    height: 20px;
    position: absolute;
    bottom: 2%;
    left: 59%;
}

.consult__navigation > li{
    margin: 2%;
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    transition: 0.5s;
    list-style: none;
    display: inline-block;
}

.navigator--active{
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    transition: 0.5s;
}

/*#################################################### General Notes ######################################################*/

#id_general_notes{
    position: relative;
    left: -19%;
}

/*#################################################### Exam results modal ############################################*/

.exams{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(20px);
    transition: 0.3s;
    z-index: 2;
}

.exams__data{
    position: absolute;
    width: 70%;
    height: 40%;
    margin-left: 15%;
    margin-top: 18%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    transition: 1s;
}

.exams__container{
    height: 180px;
    max-height: 180px;
    overflow: auto;
}

.exams__table{
    padding: 10px;
    height: 150px;
    margin-left: 12%;
    width: 70%;
    max-width: 70%;
    overflow: auto;
    overflow-x: hidden;
}

.exams__table input[type=file]{
    display: none;
}

.exams__table input[type=checkbox]{
    display: none;
}

.exams__table select{
    width: 50%;
}

.exams__table th{
    padding: 10px;
}

.exams__add-result-form{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.exams__add-result-form--active{
    cursor: pointer;
    color: #25BB41;
    transition: 0.5s;
}

.exams__delete-result-form{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.exams__delete-result-form--active{
    cursor: pointer;
    color: #A31621;
    transition: 0.5s;
}

.exams__add-exam-result{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 10%;
    height: 50px;
    padding: 10px;
    transition: 0.5s;
}

.exams__add-exam-result--active{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

.exams__result-form--hide{
    display: none;
}

.exams__filename{
    max-width: 100px;
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exams--display{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    z-index: 1;
}

.exams__preview-button{
    cursor: pointer;
    float: right;
    margin-right: 1%;
    transition: 0.5s;
}

.exams__preview-button--active{
    color: #00CCFF;
    transition: 0.5s;
}

.exams button{
    width: 15%;
}

.exams__preview-mode{
    transform: translateX(-20%);
    transition: transform 1s;
}

.exams-preview{
    width: 25%;
    height: 70%;
    position: absolute;
    /*If left is 100%, then it is off-screen, this is giving error when page realoding. It scrolls all the way. Test*/
   /*Add left:100% here for testing purposes*/
    left: 74%;
    top: 10%;
    visibility: hidden;
    transition: 1.5s;
}

.exams-preview__image{
    width: 100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.exams-preview__image--display{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*Add left:74% here for testing purposes*/
.exams-preview--display{
    z-index: 1;
    visibility: visible;
    transition: 1.5s;
    transition-delay: visibility 1.5s, opacity 0.5s,left 0.5s;
}


/*####################################################### Records ####################################################*/

.data{
    margin-top: 5%;
}

.data-container{
    max-height: 769px;
    overflow-y: auto;
}

.data-table{
    background-color: none;
    backdrop-filter: none;
    background-clip: none;
}

/*############################################################ Modal #################################################*/

.modal{
    z-index: 2;
}

#add-new-vaccine{
    position: absolute;
    right: 15%;
    top: 25%;
}

.modal__add-item--active{
    cursor: pointer;
    color: #25BB41;
    transition: 0.5s;
}

.modal__reminder{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 25px;
    width: 50%;
    height: 25%
    color: #FFFFFF;
}

.modal__reminder button{
    width: 15%;
    margin-bottom: 2%;
}

/*#################################################### Prescription Modal ############################################*/

.prescription-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s;
}

.prescription-modal--display{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}

.prescription-modal__content{
    max-width: 40%;
    max-height: 90%;
    margin-left: 30%;
}

/*PDF Object Container*/
.pdfobject-container{
    width: 100%;
    height: 100%;
}

.save-consult-btn{
    margin-top: 2%;
    margin-left: 44%;
    width: 10%;
}