<!--This template is used to render the form to create instances of the Providers Class-->
{% load static %}
<form method="POST" action="{% url 'providers:create_provider' %}" autocomplete="off" id="create-provider-form" class="modal__form creation-update-form">
    {% csrf_token %}
    <h2>Create Provider</h2>
    <p>{{ form.company.label }} <span class="obligatory">*</span></p>
    <p>{{ form.company }}</p>
    <p>{{ form.address.label }}</p>
    <p>{{ form.address }}</p>
    <p>{{ form.email.label }}</p>
    <p>{{ form.email }}</p>
    <p>{{ form.contact.label }}</p>
    <p><span class="flag-icon {{ country_code }}"></span>{{ form.country_code }}{{ form.contact }}</p>
    <!--This provider_type field is hidden, since it's pre-populated from the view.-->
    <p>{{ form.provider_type }}</p>
    <!--Custom Error-->
    <p class="error"><small>{{ error }}</small></p>
    <button type="submit">Submit</button>
</form>