<!-- Visitors partial list used to display dynamically all the visitors from a specific user -->
{% load static %}
{% if visitors %}
    <!--For each instance-->
    {% for visitor in visitors %}
        <tr class="data-table__item" data-url="{% url 'providers:visitor_details' visitor.pk %}" data-provider-type="visitor">
            <td class="data-table__data">{{ visitor.name }}</td>
            <td class="data-table__data">{{ visitor.last_name }}</td>
            <td class="data-table__data">{{ visitor.company }}</td>
            <td class="data-table__data">{{ visitor.contact }}</td>
            <td class="data-table__data">{% if visitor.email %} {{ visitor.email }} {% else %} ---------- {% endif %}</td>
            <td class="data-table__data"><i class="fas fa-edit data-table__update" data-url="{% url 'providers:update_visitor' visitor.pk %}"></i></td>
            <td class="data-table__data"><i class="fas fa-trash data-table__delete" data-url="{% url 'providers:delete_visitor' visitor.pk %}"></i></td>
            <td class="data-table__data"><i class="fas fa-envelope data-table__send-mail" data-url="{% url 'providers:send_visitor_email' visitor.pk %}"></i></td>
        </tr>
    {% endfor %}
{% endif %}