<!--This template is used to render all the data related to Visitors, retrieved from the database.-->
{% load static %}
<!--If data is present this will execute and rendered-->
{% if visitors %}
<!--First Container, with the content of each instance-->
    <div class="data-container">
        <table class="data-table">
            <thead>
                <tr id="heading">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th><i class="fas fa-plus data-table__create" data-url="{%url 'providers:create_visitor'%}"></i></th>
                </tr>
            </thead>
            <tbody>
                {% include 'providers/visitors_partial_list.html' %}
            </tbody>
        </table>
    </div>
    <div class="filter-container">
        <!--Form for visitors filtering -->
        <i class="fas fa-filter filter-container__filter-display-button"></i>
        <form method="GET" action="{% url 'providers:filter_visitors' %}" class="filter-form filter-container__filter-form" autocomplete="off">
            <h3>Visitors Filter</h3>
            <p>{{ filter_form.name.label }}</p>
            <p>{{ filter_form.name }}</p>
        </form>
    </div>
<!--If no data is present this will be rendered.-->
{% else %}
    <p id="no-data">No visitors listed</p>
    <i class="fas fa-plus add-data" data-url="{% url 'providers:create_visitor' %}"></i>
{% endif %}