<!-- This add_allergies template displays the add allergy form -->

{% load static %}
{% block body_block %}
<form method="POST" autocomplete="off" action="{% url 'settings:add_allergy' %}" id="add-allergy-form" class="modal__form creation-update-form">
    {% csrf_token %}
    <h2>Add Allergy</h2>
    <p>{{ allergies_form.allergy_type.label }}</p>
    <p>{{ allergies_form.allergy_type }}</p>
    <p class="error"><small>{{ error }}</small></p>
    <button type="submit">Add Allergy</button>
</form>
{%endblock%}