<!-- This create_drug template displays the add drug form -->

{% load static %}
<form method="POST" action="{% url 'settings:add_drug' %}" autocomplete="off" id="add-drug-form" class="modal__form creation-update-form">
    {% csrf_token %}
    <h2>Add Drug</h2>
    <p>{{ form.name.label }}</p>
    <p>{{ form.name }}</p>
    <p>{{ form.category.label }}</p>
    <p>{{ form.category }}</p>
    <p class="error"><small>{{ error }}</small></p>
    <button type="submit" id="drug-submit">Add Drug</button>
</form>