<!-- This general template is used tod display the general settings main page -->
{% load static %}
<!-- General Options Tabs -->
<ul class="general-settings">
    <li class="general-settings__tab" data-url="{% url 'settings:change_wallpaper' %}">Wallpaper</li>
    <li class="general-settings__tab" data-url="{% url 'settings:toggle_sfx' %}">Sound</li>
    <li class="general-settings__tab" data-url="{% url 'settings:toggle_notifications' %}">Notifications</li>
</ul>
<!-- Content div used to display the options for each tab -->
<div class="general-settings__content">

</div>