<!-- This insurance_partial_list template is used to display all the insurance created by a specific user, this template is populated
     dynamically based on different operations. -->

{% load static %}
{% if insurances %}
    {% for i in insurances %}
        <tr class="data-table__item" data-url="{% url 'settings:insurance_details' i.pk %}">
            <td class="data-table__data">{{ i.company }}</td>
            <td class="data-table__data">{{ i.get_country_display }}</td>
            <td class="data-table__data"><i class="fas fa-edit data-table__update" data-url="{% url 'settings:update_insurance' i.pk %}"></i></td>
            <td class="data-table__data"><i class="fas fa-trash data-table__delete" data-url="{% url 'settings:delete_insurance' i.pk %}"></i></td>
            <td class="data-table__data"></td>
        </tr>
    {% endfor %}
{% endif %}