<!-- This insurance_list template displays all the insurance created by a specific user, this template serves as the wrapper for the
     insurance_partial_list template that is dynamically populated based on different operations -->

{% load static %}
{% block body_block %}
    {% if insurances %}
            <div class="data-container">
                <table class="data-table">
                    <thead>
                        <tr id="heading">
                            <th>Company</th>
                            <th>Country</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th><i class="fas fa-plus data-table__create" data-url="{% url 'settings:add_insurance' %}"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'settings/insurance_partial_list.html' %}
                    </tbody>
                </table>
            </div>
            <div class="filter-container">
                <i class="fas fa-filter filter-container__filter-display-button"></i>
                <form method="GET" action="{% url 'settings:filter_insurance' %}" autocomplete="off" class="filter-container__filter-form">
                    <h3>Filter Insurance</h3>
                    <p>{{ form.company.label }}</p>
                    <p>{{ form.company }}</p>
                </form>
            </div>
    {% else %}
        <p id="no-data">No insurances listed</p>
        <i class="fas fa-plus add-data" data-url="{% url 'settings:add_insurance' %}"></i>
    {% endif %}
{% endblock %}