<!-- The update_drug template is used to display the update drug form -->

{% load static %}
{% block body_block %}
<form method="POST" autocomplete="off" action="{% url 'settings:update_drug' drug.pk %}" id="update-drug-form" class="modal__form creation-update-form">
    {% csrf_token%}
    <h2>Update Drug</h2>
    <p>{{ form.name.label }}</p>
    <p>{{ form.name }}</p>
    <p>{{ form.category.label }}</p>
    <p>{{ form.category }}</p>
    <p class="error">{{ error }}</p>
    <button type="submit">Update</button>
</form>
{%endblock%}