<!-- This vaccines_list template displays all the vaccines created by a specific user, this template serves as the wrapper for the
     vaccines_partial_list template that is dynamically populated based on different operations -->

{% load static %}
{% block body_block %}
{% if vaccines %}
        <div class="data-container">
            <table class="data-table">
                <thead>
                    <tr id="heading">
                        <th>Name</th>
                        <th>Scientific Name</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th><i class="fas fa-plus data-table__create" data-url="{% url 'settings:add_vaccine' %}"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'settings/vaccines_partial_list.html' %}
                </tbody>
            </table>
        </div>
        <div class="filter-container">
            <i class="fas fa-filter filter-container__filter-display-button"></i>
            <form method="GET" action="{% url 'settings:filter_vaccines' %}" class="filter-container__filter-form" autocomplete="off">
                <h3>Filter Vaccines</h3>
                <p>{{ form.name.label }}</p>
                <p>{{ form.name }}</p>
            </form>
        </div>
{%else%}
    <p id="no-data">No vaccines listed</p>
    <i class="fas fa-plus add-data" data-url="{% url 'settings:add_vaccine' %}"></i>
{%endif%}
{%endblock%}