<!-- This template is used to display all the records belonging to a specific user, this template is dynamically populated -->
{% load static %}
{% for r in records %}
    <tr class="data-table__item" onclick="window.location='{% url 'appointments:consult_details' r.pk %}'">
        <td class="data-table__data">{{ r.patient.id_number }}</td>
        <td class="data-table__data">{{ r.patient.first_names }} {{ r.patient.last_names }}</td>
        <td class="data-table__data">{{ r.datetime }}</td>
        <td class="data-table__data" id="status-1">Finished</td>
    </tr>
{% endfor %}