<!-- This records list template serves as a wrapper for the partial_records_list template for dynamic population -->
{% extends 'base.html' %}
{% load static %}
{% block title %}All Records{% endblock %}
{% block return %}<a href="{% url 'home:home' %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'records/css/records_list.css' %}">
<h2 class="title">Records</h2>
{% if records %}
    <div class="data">
        <div class="data-container">
            <table class="data-table">
                <thead>
                    <tr id="heading">
                        <th>ID</th>
                        <th>Patient</th>
                        <th>Date and Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'records/partial_records_list.html' %}
                </tbody>
            </table>
        </div>
        <div class="filter-container">
            <i class="fas fa-filter filter-container__filter-display-button"></i>
            <form method="GET" action="{% url 'records:filter_records' %}" class="filter-container__filter-form">
                <h2>Filter Results</h2>
                <p>{{ form.date_from.label }}</p>
                <p>{{ form.date_from }}</p>
                <p>{{ form.date_to.label }}</p>
                <p>{{ form.date_to }}</p>
                <p class="error"><small>{{ error }}</small></p>
                <button type="submit">Search</button>
            </form>
         </div>
    </div>
{% else %}
    <p id="no-data">There are no records filled</p>
{% endif %}
    <script src="{% static 'records/js/records_list.js' %}"></script>
{% endblock %}