<!-- This consults_data_visualization_layout template contains the layout to be displayed whenever the consults data has been requested -->

{% if data_available %}
    <div class="double-visualization-container">

        <svg class="status-distribution container__visualization__s-widget" data-url="{% url 'stats:request_filter_form' 'status' %}">
            <text class="header" font-weight="bolder"></text>
            <g class="body">
                <g class="x-axis"></g>
                <g class="y-axis"></g>
            </g>
        </svg>

        <svg class="medical-status-distribution container__visualization__s-widget" data-url="{% url 'stats:request_filter_form' 'medical_status' %}">
            <text class="header" font-weight="bolder"></text>
            <g class="body">
                <g class="x-axis"></g>
                <g class="y-axis"></g>
            </g>
        </svg>

    </div>

    <svg class="consult-growth container__visualization__m-widget" data-url="{% url 'stats:request_filter_form' 'consult-count' %}">
        <text class="header" font-weight="bolder"></text>
        <g class="body">
            <g class="x-axis"></g>
            <g class="y-axis"></g>
        </g>
    </svg>

    <svg class="consult-time-frequency container__visualization__m-widget" data-url="{% url 'stats:request_filter_form' 'hour-frequency' %}">
        <text class="header" font-weight="bolder"></text>
        <g class="body">
            <g class="x-axis"></g>
            <g class="y-axis"></g>
        </g>
    </svg>
{% else %}
    <p id="no-data">Not enough data to display statistics</p>
{% endif %}
