/* This main.css file contains all the styles needed to present the main page. */

/*////////////////////////////////////////////////// Body ////////////////////////////////////////////////////////////*/

*{
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

/*//////////////////////////////////////////////////// BG ////////////////////////////////////////////////////////////*/

#video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/*///////////////////////////////////////////////// Container ////////////////////////////////////////////////////////*/

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container__logo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 7%;
    top: 6%;
}

.container__auth{
    position: absolute;
    top: 8%;
    right: 10%;
}

.container__auth-button{
    border: none;
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    font-size: 16px;
    height: 50px;
    width: 120px;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s;
}

.container__auth-button--active{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    transition: all 0.5s ease;
}

.container__auth-button:focus{
    outline: none;
}

.container__quote{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    text-align: justify;
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 500px;
    padding: 20px;
    transition: opacity 0.5s;
    animation: show-up 1.5s linear forwards;
}

.container__elements--fade-out{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.container__footer{
    position: absolute;
    top: 95%;
    height: 5%;
    width: 100%;
}

.container__social-media-contact{
    position: absolute;
    right: 1%;
}

.container__social-media-logo{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}

/*///////////////////////////////////////////////////// Forms ////////////////////////////////////////////////////////*/

form{
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    background-clip: padding-box;
    animation: show-up 0.3s linear forwards;
    z-index: 1;
}

.obligatory{
    color: #f54242;
}

form button{
    cursor: pointer;
    margin-top: 5%;
    width: 100px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

button:focus{
    outline: none;
}

.button--active{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

input{
    width: 50%;
    padding: 5px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    transition: width 0.3s;
}

.input-active{
    width: 60%;
    transition: all 0.3s;
}

input:focus{
    outline: none;
}

select{
  text-align-last:center;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #FFFFFF;
  width: 250px;
  height: 30px;
}

select:focus{
    outline: none;
}

textarea{
    border: 1px solid white;
    background-color: transparent;
    resize: none;
    height: 100px;
}

textarea:focus{
    outline: none;
}

/*///////////////////////////////////////////////////// Login Form ///////////////////////////////////////////////////*/

.login-form{
    width: 25%;
    height: 50%;
    padding-top: 25px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login-form__password-reset{
    cursor: pointer;
    transition: font-size 0.5s;
}

.login-form__password-reset--hover{
    font-size: 16px;
    transition: 0.5s;
}

/*///////////////////////////////////////////// Password Reset Form //////////////////////////////////////////////////*/

.password-reset-form{
    width: 50%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.password-reset-form__submit-button{
    margin-top: 0%;
}

.password-reset-done{
    width: 60%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    animation: show-up 0.3s linear forwards;
}

.password-reset-done__continue-button{
    cursor: pointer;
    margin-left: 45%;
    transition: font-size 0.3s;
}

.password-reset-done__continue-button--hover{
    font-size: 20px;
    transition: all 0.3s;
}

/*////////////////////////////////////////////////// SignUp Form /////////////////////////////////////////////////////*/

.signup-form{
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.signup-form__loader{
    position: absolute;
    top: 1.5%;
    right: 1%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    border-top: 2px solid #FFFFFF;
    visibility: hidden;
    transition: 0.5s;
    animation: spin 1s linear infinite;
}

.signup-form__loader--display{
    visibility: visible;
    transition: 0.5s;
}

.signup-form__wrapper{
    display: grid;
    grid-template-columns: 40% 59%;
    grid-gap: 1%;
}

.signup-form__personal-information{
    padding-bottom: 15%;
}

.signup-form__account-information{
    padding-top: 10%;
}

/*///////////////////////////////////////////////////// Modal ////////////////////////////////////////////////////////*/

.modal{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.modal--display{
    opacity: 1;
    visibility: visible;
}

/*///////////////////////////////////////////////////// Account Type /////////////////////////////////////////////////*/

.account-type-selector{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(255,255,255,0.1);
    background-clip: padding-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 10px );
    position: absolute;
    top: 40%;
    left: 30%;
    height: 20%;
    width: 40%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.account-type-selector--display{
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.account-type-selector__tile--active{
    color: #000000;
    background-color: #FFFFFF;
    transition: color 0.3s, background-color 0.3s;
}

.account-type-selector__tile--active .account-type-selector__icon{
    color: #000000;
    transition: color 0.3s;
}

.account-type-selector__icon{
    margin-top: 17%;
    margin-right: 10px;
    font-size: 50px;
    pointer-events: none;
}

/*///////////////////////////////////////////////////// Animations ///////////////////////////////////////////////////*/

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes show-up{
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}