/* This add_update_patient.css stylesheet contains all the styles for the add_patient and update_patient template.*/


/*################################################### Container ######################################################*/

/* Check this icon, why only float:left sets it aside */
.fa-long-arrow-alt-left{
    float: left;
}

.patient-form__container{
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
}

.patient-form__general-information{
    padding: 10px;
    border-right: 1px solid #FFFFFF;
}

.patient-form__general-information-container{
    height: 80vh;
    overflow-y: auto;
}

/*##################################################### Form #########################################################*/

form:not(#add-allergy-form):not(#add-insurance-form){
    background-color: rgba(0,0,0,0);
    backdrop-filter: none;
}

.form__error{
    color: #FFFFFF;
}

.patient-form__allergies-form-container{
    overflow: auto;
    max-height: 20vh;
}

.patient-form__antecedents-form-container{
    overflow: auto;
    max-height: 20vh;
}

h1{
    padding-bottom: 10px;
    overflow: auto;
}

table{
    width: 100%;
}

td{
    width: 20%;
}

#id_phone_number{
    width: 60%;
}

#id_country_code{
    width: 15%;
    margin-left: -21%;
    opacity: 0;
}

.flag-icon{
    position: relative;
    left: -10%;
}

.allergy-delete-check{
    display: none;
}

.antecedent-delete-check{
    display: none;
}

.form--hide{
    display: none;
}

button{
    width: 25%;
    height: 30px;
}

/*######################################## Save confirmation modal ###################################################*/

.save-confirmation-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(20px);
    background-clip: padding-box;
    transition: opacity 0.3s;
}

.save-confirmation-modal--display{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.save-confirmation-modal__content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 45%;
    border-radius: 25px;
    padding: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.1);
}

.save-confirmation-modal button{
    width: 20%;
}