/* This consults_details.css stylesheet contains all the styles needed to display the consult details view properly */

/* //////////////////////////////////////////////////// Body /////////////////////////////////////////////////////// */

body{
    overflow-y: visible;
}

/* //////////////////////////////////////////////////// Details Container /////////////////////////////////////////// */

.details-container{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1%;
    text-align: justify;
    margin-bottom: 20px;
}

.details-container__sub-container{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 10px 50px;
}

b{
    text-decoration: underline;
}

hr{
    border: 1px solid #FFFFFF;
}

.print-prescription{
    cursor: pointer;
    font-size: 25px;
    float: right;
    transition: 0.5s;
}

.print-prescription--active{
    color: #1cd632;
    transition: 0.5s;
}

/* ///////////////////////////////////////////////// Prescription Modal ///////////////////////////////////////////// */

.pdfobject-container{
    width: 50%;
    height: 100%;
}

.prescription-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.prescription-modal--display{
    backdrop-filter: blur(10px);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.prescription-modal-content{
    margin: auto;
}

/* ////////////////////////////////////////////////// Exam Preview ////////////////////////////////////////////////// */

.exam-preview{
    position: fixed;
    max-width: 45vh;
    max-height: 50vh;
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 5%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.exam-preview--display{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#exam-image{
    width: 100%;
    height: auto;
}