<!-- This template is used to display the add vaccination record form -->

{% load static %}
<form action="{% url 'appointments:add_vaccination_record' patient.pk %}" method="POST" id="add-vaccine-record-form" class="modal__form creation-update-form">
    {% csrf_token %}
    <h2>Vaccine Application</h2>
    <i class="fas fa-plus modal__add-item" id="add-new-vaccine" data-url="{% url 'settings:add_vaccine' patient.pk %}"></i>
    <p>{{ form.vaccine_applied.label }} <span class="obligatory">*</span></p>
    <p>{{ form.vaccine_applied }}</p>
    <p>{{ form.datetime.label }} <span class="obligatory">*</span></p>
    <p>{{ form.datetime }}</p>
    <p>{{ form.comments.label }}</p>
    <p>{{ form.comments }}</p>
    <button type="submit">Submit</button>
</form>