<!-- This template is used to display the details of a specific consult -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Consults Details{% endblock %}
{% block return %}{% if referer == "details" %}<a href="{% url 'patients:patients_details' consult.patient.pk %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% else %}<a href="{% url 'records:records' %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% endif %}{% endblock %}
{% block body_block %}
<!--{% block home %}{% endblock %}-->
<!--{% block content %}{% endblock %}-->
<link rel="stylesheet" href="{%static 'appointments/css/consults_details.css'%}">

<div class="details-container">
    <div class="details-container__sub-container">
        <h1>General Information{% if consult.prescription.name != '' %} <i class="fas fa-print print-prescription" data-pdf="{{ MEDIA_URL }}{{consult.prescription.name}}"></i> {% endif %}</h1>
        <hr>
        <h2>Patient: {{ consult.patient.first_names }} {{ consult.patient.last_names }}</h2>
        <p><b>Date and Time:</b> {{ consult.datetime }}</p>
        <p><b>Motive:</b> {{ consult.motive }}</p>
        <p><b>Suffering:</b> {{ consult.suffering }}</p>
    </div>
    {% if user.doctor.speciality == 'IM' or user.doctor.speciality == 'GM' or user.doctor.speciality == 'PED' %}
        <div class="details-container__sub-container">
            <h1>Vital Signs</h1>
            <hr>
            <p><b>Blood Pressure:</b> {%if consult.blood_pressure %}{{ consult.blood_pressure }}{% else %}----------{% endif %}</p>
            <p><b>Temperature:</b> {% if consult.temperature %}{{ consult.temperature }}{% else %}----------{% endif %}</p>
            <p><b>Size:</b> {% if consult.size %}{{ consult.size }}{% else %}----------{% endif %}</p>
            <p><b>Weight:</b> {% if consult.weight %}{{ consult.weight }}{% else %}----------{% endif %}</p>
        </div>
        <div class="details-container__sub-container">
            <h1>Organ System</h1>
            <hr>
            <p><b>Digestive System:</b> {% if consult.digestive_system %}{{ consult.digestive_system }}{% else %}----------{% endif %}</p>
            <p><b>Endocrine System:</b> {% if consult.endocrine_system %}{{ consult.endocrine_system }}{% else %}----------{% endif %}</p>
            <p><b>Renal System:</b> {% if consult.renal_system %}{{ consult.renal_system }}{% else %}----------{% endif %}</p>
            <p><b>Lymphatic System</b>: {% if consult.lymphatic_system %}{{ consult.lymphatic_system }}{% else %}----------{% endif %}</p>
            <p><b>Respiratory System:</b> {% if consult.respiratory_system %}{{ consult.respiratory_system }}{% else %}----------{% endif %}</p>
        </div>
        <div class="details-container__sub-container">
            <h1>Physical Exploration</h1>
            <hr>
            <p><b>Head Exploration:</b> {% if consult.head_exploration %}{{ consult.head_exploration }}{% else %}----------{% endif %}</p>
            <p><b>Thorax Exploration:</b> {% if consult.thorax_exploration %}{{ consult.thorax_exploration }}{% else %}----------{% endif %}</p>
        </div>
    {% else %}
        <div class="details-container__sub-container">
            <h1>General Notes</h1>
            <hr>
            <p>{% if consult.general_notes %}{{ consult.general_notes|linebreaks }}{% else %}----------{% endif %}</p>
        </div>
    {% endif %}
    <div class="details-container__sub-container">
        <h1>Diagnose</h1>
        <hr>
        <p><b>ICD-10 Group:</b> {% if consult.icd_10_group %}{{ consult.icd_10_group }}{% else %}----------{% endif %}</p>
        <p><b>ICD-10 Detail:</b> {% if consult.icd_10_detail %}{{ consult.icd_10_detail }}{% else %}----------{% endif %}</p>
        <p><b>Diagnose:</b> {% if consult.diagnose %}{{ consult.diagnose }}{% else %}----------{% endif %}</p>
        <p><b>Procedure:</b> {% if consult.procedure %}{{ consult.procedure }}{% else %}----------{% endif %}</p>
        <p><b>Analysis:</b> {% if consult.analysis %}{{ consult.analysis }}{% else %}----------{% endif %}</p>
        <p><b>Notes:</b> {% if consult.notes %}{{ consult.notes }}{% else %}----------{% endif %}</p>
    </div>
    <div class="details-container__sub-container">
        <h1>Exams</h1>
        <hr>
        {% if exams %}
            {% for exam in exams %}
                <p><a href="{{MEDIA_URL}}{{exam.image}}" class="exam">{{ exam }}</a></p>
            {% endfor %}
        {% else %}
            <p>----------</p>
        {% endif %}
    </div>
    <div class="details-container__sub-container">
        <h1>Treatment</h1>
        <hr>
        <h3>Drugs Used:</h3>
        {% if consult.drugs.all %}
            {% for drug in consult.drugs.all %}
                <p>{{ drug }}</p>
            {% endfor %}
        {% else %}
            <p>----------</p>
        {% endif %}
    </div>
    <div class="details-container__sub-container">
        <h1>Indications</h1>
        <hr>
        {% if consult.indications %}
            {% for indications in consult.indications.splitlines %}
                <p>{{ indications }}</p>
            {% endfor %}
        {% else %}
            <p>----------</p>
        {% endif %}
        <h3>Actions:</h3>
        {% if consult.actions %}
            {% for actions in consult.actions.splitlines %}
                <p>{{ actions }}</p>
            {% endfor %}
        {% else %}
            <p>----------</p>
        {% endif %}
    </div>
</div>

<div class="prescription-modal">
    <div class="prescription-modal-content">

    </div>
</div>

<div class="exam-preview">
    <img src="" alt="" id="exam-image">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.4/pdfobject.min.js" integrity="sha512-mW7siBAOOJTkMl77cTke1Krn+Wz8DJrjMzlKaorrGeGecq0DPUq28KgMrX060xQQOGjcl7MSSep+/1FOprNltw==" crossorigin="anonymous"></script>
<script src="{% static 'appointments/js/consult_details.js' %}"></script>
{% endblock %}

