<!-- This registers template serves as a wrapper to the partial registers template for dynamic content population -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Registers{% endblock %}
{% block return %}<a href="{% url 'appointments:appointments' %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'appointments/css/registers.css' %}">
<h2>Registers</h2>
<p id="item-count">{{ items }} items have been scheduled</p>
{% if registers %}
    <div class="data">
        <div class="data-container">
            <table class="data-table">
                <thead>
                    <tr id="heading">
                        <th>ID</th>
                        <th>Patient</th>
                        <th>Date and Time</th>
                        <th>Status</th>
                        <th>Medical Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'appointments/partial_registers.html' %}
                </tbody>
            </table>
        </div>
        <div class="filter-container">
            <i class="fas fa-filter filter-container__filter-display-button"></i>
            <form method="GET" action="{% url 'appointments:filter_registers' %}" autocomplete="off" class="filter-container__filter-form">
                <h3>Filter Results</h3>
                <p>{{ form.patient.label }}</p>
                <p>{{ form.patient }}</p>
                <p>{{ form.month.label }}</p>
                <p>{{ form.month }}</p>
                <p>{{ form.year.label }}</p>
                <p>{{ form.year }}</p>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
{% else %}
    <p id="no-data">There are no appointments created</p>
{% endif %}
<script src="{%static 'appointments/js/registers.js'%}"></script>
{% endblock %}