/* This stats stylesheet contains all the styles necessary for the stats app to be displayed properly. */

.container{
    display: grid;
    grid-template-columns: 19% 60% 19%;
    grid-gap: 1%;
    padding: 2px;
}

.container div{
    text-align: center;
}

.container__visualization__data{
    max-height: 740px;
    overflow-y: auto;
}

.container__visualization__data--hide{
    display: none;
}

.container__visualization__full-view{
    display: none;
}

.container__visualization__full-view--display{
    display: block;
}

.container__navigation__tab{
    font-size: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.container__navigation__tab--hover{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.container__navigation__tab--active{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

.double-visualization-container{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 1%;
    margin-bottom: 1%;
}

.container__visualization__l-widget, .container__visualization__m-widget, .container__visualization__s-widget{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    animation: show-up 1s linear;
}

.container__visualization__l-widget{
    height: 500px;
    cursor: default;
}

.container__visualization__m-widget{
    height: 400px;
    transition: 0.5s;
}

.container__visualization__s-widget{
    height: 300px;
    transition: 0.5s;
}

.container__visualization--active{
    background-color: rgba(255,255,255, 0.3);
    transition: 0.5s;
}

text{
    pointer-events: none;
}

.header{
    fill: #FFFFFF;
}

.tooltip-arrow{
    transform: translateY(15px) rotate(45deg) ;
}

.filter-container__filter-form{
    transform: translateY(0%);
    animation: show-up 2s linear;
}
