/* This password_reset_confirm.css file contains all the styles to display the password reset complete page properly */

/*/////////////////////////////////////////////////////// Body ///////////////////////////////////////////////////////*/

body{
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 7%;
    top: 6%;
}

a{
    color: #FFFFFF;
}
/*/////////////////////////////////////////////////// Background /////////////////////////////////////////////////////*/

.password-reset-bg{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*////////////////////////////////////////////////////// Forms ///////////////////////////////////////////////////////*/

.password-reset-confirm-form{
    color: #FFFFFF;
    width: 25%;
    height: 50%;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h2{
    margin-top: 50px;
}

/*////////////////////////////////////////////////////// Inputs //////////////////////////////////////////////////////*/

input{
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  height: 30px;
  width: 60%;
}

input:focus{
    outline: none;
}

input[type=password]{
    font: small-caption;
}

.input--active{
  width: 75%;
  transition: 0.5s;
}

/*////////////////////////////////////////////////////// Buttons /////////////////////////////////////////////////////*/

.password-reset-confirm-form__submit-button{
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    margin: 20px;
    width: 30%;
    height: 30px;
    background-color: transparent;
    border-color: #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
}

.submit-button--active{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

/*////////////////////////////////////////////////////// Link ////////////////////////////////////////////////////////*/

.invalid-link-container{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
